---
import {
    Accordion,
    AccordionContent,
    AccordionItem,
    AccordionTrigger,
} from "@/components/starwind/accordion";

import { Image } from "astro:assets";
import { CircleUserRound } from "@lucide/astro";
import JupiterImage from "@/assets/jupiter.png";
import CodyImage from "@/assets/cody.jpg";
---

<section
    id="hero"
    class="flex flex-col max-w-7xl mx-auto p-6 space-y-12 mt-16 md:mt-24 min-h-screen"
>
    <div class="flex flex-col md:flex-row items-center gap-6">
        <h1 class="text-center md:text-left text-4xl md:text-6xl md:flex-1">
            I'm a new developer building fast, modern websites with Astro 🚀
        </h1>
        <Image
            src={JupiterImage}
            alt="Jupiter"
            class="w-3/4 md:w-2/5 rounded-lg shadow-lg"
        />
    </div>
    <hr class="max-w-7xl mt-24" />
    <div
        id="about"
        class="flex flex-col md:flex-row h-full items-center md:items-start gap-8 mt-24"
    >
        <Image
            src={CodyImage}
            alt="Cody Venditto"
            class="rounded-lg border-6 border-black w-2/3 md:w-2/8"
        />
        <Accordion class="flex-1">
            <p
                class="text-3xl font-bold mb-4 flex justify-center items-center md:justify-start gap-2"
            >
                <CircleUserRound />About Me
            </p>
            <AccordionItem value="item-1">
                <AccordionTrigger class="text-lg font-bold"
                    >Who are you?</AccordionTrigger
                >
                <AccordionContent>
                    My name is Cody. I'm a new developer looking to take on my
                    first freelance clients.
                </AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-2">
                <AccordionTrigger class="text-lg font-bold"
                    >What do you do?</AccordionTrigger
                >
                <AccordionContent>
                    I'm building fast, modern websites using Astro, a web
                    framework designed for speed and simplicity. I'm
                    specifically building websites for small businesses that are
                    content driven and statically generated, meaning they are
                    designed to do things like provide information about your
                    business, provide updates or blog posts, and don't need an
                    extensive backend (database, authentication).
                </AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-3">
                <AccordionTrigger class="text-lg font-bold"
                    >Are you accepting clients?</AccordionTrigger
                >
                <AccordionContent>
                    Yes, I'm currently taking on a limited number of projects.
                    I'm accepting small business clients.
                </AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-4">
                <AccordionTrigger class="text-lg font-bold"
                    >Why should I choose you to make my website?</AccordionTrigger
                >
                <AccordionContent>
                    I've spent years working with Linux, experimenting with web
                    technologies, and building a security-first mindset,
                    including hands-on penetration testing education through <a
                        href="https://profile.hackthebox.com/profile/019e8872-115f-73d5-bf4e-02db0121776b"
                        target="_blank"
                        rel="noreferrer"
                        class="text-green-500 hover:text-green-700 hover:underline"
                        >Hack The Box</a
                    >. I'm now applying that experience and knowledge as a
                    freelance web developer. I'll work with you to create a
                    fast, secure website.
                </AccordionContent>
            </AccordionItem>
        </Accordion>
    </div>
</section>
