---
import { Button } from "@/components/starwind/button";
import { Image } from "astro:assets";

import KeyboardImage from "@/assets/keyboard.png";
---

<section
    id="hero"
    class="flex flex-col max-w-6xl mx-auto p-6 space-y-12 min-h-screen"
>
    <div class="flex flex-col md:flex-row items-center gap-8">
        <h1 class="text-center md:text-left text-4xl md:text-6xl md:flex-1">
            I'm an aspiring web developer learning Astro, Tailwind CSS and
            React.
        </h1>
        <Image
            src={KeyboardImage}
            alt="keyboard"
            class="w-2/3 md:w-2/5 rounded-lg shadow-lg"
        />
    </div>
    <p class="text-left text-sm md:text-base max-w-2xl">
        My name's Cody and I'm working towards my goal of freelance web
        development. I'm currently building this portfolio website and other
        projects. Check back once in a while to see what I'm working on!
    </p>
    <a href="#projects" class="mx-auto"
        ><Button
            class="max-w-xs mx-auto bg-white text-black border border-black hover:bg-black hover:text-white"
            >View my work</Button
        ></a
    >
</section>
