---
import { Button } from "@/components/starwind/button";
---

<section
    id="hero"
    class="flex flex-col max-w-5xl mx-auto p-6 space-y-12 min-h-screen"
>
    <h1 class="text-center text-4xl md:text-6xl">
        I'm an aspiring web developer learning Astro, Tailwind CSS and React.
    </h1>
    <p class="text-center text-sm md:text-base max-w-2xl mx-auto">
        My name's Cody and I'm working towards my goal of freelance web
        development. I'm currently building this portfolio website and other
        projects. Check back once in a while to see what I'm working on!
    </p>
    <a href="#projects" class="mx-auto"
        ><Button
            class="max-w-xs mx-auto bg-white text-black border border-black hover:bg-black hover:text-white"
            >View my work</Button
        ></a
    >
</section>
