---

---

<div class="flex flex-col max-w-5xl mx-auto p-6 space-y-6">
    <h1 class="text-center text-4xl md:text-6xl">
        I am an aspiring web developer learning Astro, Tailwind CSS and React.
    </h1>
    <p class="text-center text-sm md:text-base">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        feugiat, metus aliquet consequat vestibulum, est massa commodo urna, nec
        vestibulum diam enim eu eros. Vivamus feugiat bibendum urna, in laoreet
        nibh rutrum a. Etiam elementum ligula eget quam ultrices, et fermentum
        quam commodo. Sed ut purus id velit efficitur tristique in porta elit.
    </p>
</div>
