---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
---

<BaseLayout page="Web Developer">
    <Hero />
    <div class="max-w-7xl mx-auto px-6">
        <hr />
    </div>
    <Contact />
    <div class="max-w-7xl mx-auto px-6">
        <hr />
    </div>
</BaseLayout>
