---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import { Button } from "@/components/starwind/button";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { id: project.id },
        props: { project },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await render(project);

const { name, img, imgAlt, description, demo, demo_url, pubDate, updatedDate } =
    project.data;
---

<BaseLayout>
    <div class="flex flex-col items-center justify-center mt-24 gap-16">
        <h1 class="text-4xl font-bold">Work in progress. Check back soon!</h1>
        <a href="/"
            ><Button
                size="lg"
                class="bg-white text-black border border-black hover:bg-black hover:text-white"
                >Back to home</Button
            ></a
        >
    </div>
</BaseLayout>
