---
import { siGithub, siAstro } from "simple-icons";
---

<footer class="w-full">
    <div
        class="mx-auto flex flex-col md:flex-row space-y-8 md:space-y-0 max-w-7xl justify-between items-center gap-4 px-6 py-12 text-center text-sm opacity-50"
    >
        <p>&copy; 2026 Cody Venditto</p>
        <div class="flex items-center justify-center gap-4 sm:justify-start">
            <a href="https://github.com/cvendi" target="_blank">
                <svg
                    viewBox="0 0 24 24"
                    width="24"
                    height="24"
                    fill="currentColor"
                >
                    <path d={siGithub.path}></path>
                </svg>
            </a>
        </div>
    </div>
</footer>
